
singularity {
    enabled = true
    autoMounts = true
}

process {
  withLabel: 'matrix_eqtl'   { container = 'matrixeqtl.2.1.1' }
}

params {
    // Default params
    // Testing
    tools         = 'matrixeqtl'
}

profiles {
  // Resource profiles
  local     { includeConfig 'conf/local.config' }
  cluster   { includeConfig 'conf/cluster.config' }
  dynamic   { includeConfig 'conf/dynamic.config' }
  
  // Test profile (Same as default params)
  test {
    params {
      cohorts     = "input/cohorts_info.csv"
    }
  }
}
